body {
  background-image: linear-gradient(
    180deg,
    rgba(164, 144, 124, 0.9),
    rgb(241, 222, 201)
  );
  
}
.body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 30px;
  margin-bottom: 5px;
  font-family: "Pacifico", cursive;
  color: #7d7357;
  font-weight: bolder;
}

div {
  margin-bottom: 10px;
}

#register {
  position: absolute;
  top: 0px;
  right: 10px;
  margin-top: 15px;
  font-size: 15px; 
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace";
  
}
#register_now {
  color: rgba(102, 49, 5, 0.734);

  text-decoration: none;
}
#register_now:hover {
  color: rgba(102, 49, 5, 1);
}

#welcome {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 0 0;
}


.card {
  display: flex;
  border: solid #bdbdbd 1px;
  border-radius: 15px;
  box-shadow: 5px 5px 41px rgba(0, 0, 0, 0.6);
   width:65%;
  min-width:700px;
  min-height: 467.84px;
}
img {
  border-radius: 15px 5px 5px 15px;
  margin-right: 20px;
  flex:1 1 300px;
}

.login_container {
 align-self: center;
  flex:1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "museo-slab";
  height:450px;
}

#username {
  font-size: 20px;
  border-radius: 25px;
  padding: 5px 0 5px 5px;
  width: 230px;
  height: 25px;
  border: #c7c7c7 solid;
  padding-left: 25px;
}

#password {
  font-size: 20px;
  border-radius: 25px;
  padding: 5px 0 5px 5px;
  width: 230px;
  height: 25px;
  border: #c7c7c7 solid;
  padding-left: 25px;
}
input:focus {
  outline-color: #c7c7c7;
}
.input-icon {
  position: absolute;
  left: 7px;
  top: calc(50% - 0.5em);
}

input {
  padding-left: 17px;
}

.input-wrapper {
  position: relative;
}
.sign_in {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
input[type="submit"] {
  width: 255px;
  height: 30px;
  font-size: 15px;
  background-color: #63bbf2;
  color: white;
  padding: 5px;
  border: 0px;
  border-radius: 25px;


}
input[type="submit"]:hover {
  background: #00aaee;
  box-shadow: -4px 10px 20px -1px rgba(0,0,0,0.35);
}
.forget {
  color: grey;
}
.forget:hover {
  color: black;
}

#other_sign_in_method {
  font-size: 15px;
  color: grey;
  margin-bottom: 25px;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  
}
@media (max-width: 700px) {
  body {
    background-image: linear-gradient(
      to right,
      rgba(164, 144, 124, 0.8),
      rgb(241, 222, 201)
    );
    
  }

  .card {
    margin:50px;
    flex-direction: column;
    align-items: center;
    min-width:fit-content;
    max-width: fit-content;
  }

  img {
    border-radius: 15px;
    margin-right: 0px;
  }
  .icons{
    margin-bottom: 30px;
  }
}
